.text-xl {
  color: rgba(var(--v-theme-font));
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.009375em;
  line-height: 1.5;
  text-transform: none;
  text-align: justify;
}

.text-lg {
  color: rgba(var(--v-theme-font));
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.009375em;
  line-height: 1.5;
  text-transform: none;
  text-align: justify;
}

.text-md {
  color: rgba(var(--v-theme-font));
  font-size: 0.875rem;
  opacity: 0.7;
  font-weight: 400;
  letter-spacing: 0.0178571429em;
  line-height: 1rem;
  text-transform: none;
  text-align: justify;
}

.text-sm {
  font-size: 0.8rem;
  font-weight: 400;
  margin-left: 5px;
}

.error-text {
  color: red;
  font-size: 16px;
  margin-bottom: 4px;
}

@media screen and (max-width: 900px) {
  .text-xl {
    font-size: 1rem;
  }
}
