.bg-gradient {
  background: linear-gradient(90deg, #302345, #23153a, #190a31);
  background-size: 1000% 100%;
  animation: background-movement 10s ease infinite;
}

.modern-gradient-background {
  background: linear-gradient(
    180deg,
    rgb(var(--v-theme-background-lighten-1)),
    rgb(var(--v-theme-background)),
    rgb(var(--v-theme-background-darken-2)),
    rgb(var(--v-theme-background-darken-1))
  ) !important;
}
