.bg-gradient {
  background: linear-gradient(
    118deg,
    #e6d6d6,
    #e6c9a3,
    #e6b2c9,
    #e6a3e6,
    #e6d6d6,
    #e6c9a3,
    #e6b2c9,
    #e6a3e6
  );
  background-size: 400% 400%;
  animation: background-movement 10s ease infinite;
}

.modern-gradient-background {
  background: linear-gradient(
    180deg,
    rgb(var(--v-theme-background-lighten-1)),
    rgb(var(--v-theme-background)),
    rgb(var(--v-theme-background-darken-2)),
    rgb(var(--v-theme-background-darken-1))
  ) !important;
}
